
# PostgreSQL
POSTGRES_DB=jvmoebel_db
POSTGRES_USER=jvmoebel_user
POSTGRES_PASSWORD=jvmoebel_pass
POSTGRES_HOST=postgres_db
POSTGRES_PORT=5432

# Backend
PORT=8000

AR_WRITE_API_KEY=your-secret-token
AR_MAX_FILE_SIZE=15728640  # 15 MB
AR_MAX_BODY_SIZE=16777216  # 16 MB