
# PostgreSQL
POSTGRES_DB=jvmoebel_dev_db
POSTGRES_USER=jvmoebel_dev_user
POSTGRES_PASSWORD=jvmoebel_dev_pass
POSTGRES_HOST=postgres_db_dev
POSTGRES_PORT=5432
POSTGRES_DEV_EXTERNAL_PORT=5436

# Backend
PORT_DEV=8001

AR_WRITE_API_KEY=your-secret-token
AR_MAX_FILE_SIZE=15728640  # 15 MB
AR_MAX_BODY_SIZE=16777216  # 16 MB
