# PostgreSQL
POSTGRES_DB=jvmoebel_test
POSTGRES_USER=jvmoebel_test_user
POSTGRES_PASSWORD=test_password

POSTGRES_HOST=localhost
POSTGRES_PORT=5436
POSTGRES_EXTERNAL_PORT=5436

AR_WRITE_API_KEY=test-ar-write-token
AR_MAX_FILE_SIZE=15728640  # 15 MB
AR_MAX_BODY_SIZE=17072128  # 16 MB